.ButtonContainer {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.Button {
    width: 100%;
    margin: 0.25rem;
}

.EmployeeList {
    width: 100%;
    max-width: 350px;
    display:flex;
    flex-direction: column;
}

.EmployeeCardContainer {
    display: flex;
    flex-direction: row;
    border-radius: 0.5rem;
    border: 2px solid #ccc;
    margin-bottom: 0.25rem;
}

.EmployeeCard {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: inherit;
    margin-bottom: 0.2rem;
    padding: 0.5rem;
}

.EmployeeCardOption {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.UserIcon {
    margin: auto;
    margin-left: 10px;
}

.TimeSheetContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.CalendarChildFlexColumnLeft {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 0 1rem 1rem 0;
}

.CalendarChildFlexColumnRight {
    display: flex;
    flex-direction: column;
    flex: auto;
    width: 50%;
}

.FormContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 80%;
    max-width: 500px;
    padding: 20px;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 999;
}

.BlurView {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.FormChild {
    width: 100%;
    padding: 0.5rem;
}

.CustomButton {
    background-color: inherit;
    border: 0px;
    font-size: 1rem;
}

.SplitViewColumnChild {
    flex: auto;
    margin-bottom: 0.5rem;
}

.TimePunchView {
    font-size: 1.2rem;
}

.Table {
    width: 100%;
    border-collapse: collapse;
}

.TableAlterRow {
    background-color: #EAF5E1;
}

.TimePunchViewBlur {
    filter: blur(3px);
}

.TimeCardContent {
    padding: 10px;
}

.TimeCardIn {
    color: green;
}

.TimeCardOut {
    color: orange;
}

.TableColumn {
    width: 30%;
    display: table-cell;
    vertical-align: bottom;
    text-align: center;
}

.TimeCardSummary {
    display: flex;
    justify-content: space-between;
}

.Clock {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
}

.ClockTime {
    padding: 0.5rem;
    font-size: 2rem;
}

.CenterView {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.SwitchContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 0.5rem 0 0.5rem;
}

.SwitchSpace {
    justify-content: space-between;
}

.OptionButtonContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.OptionButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 120px;
    background-color: rgba(0, 100, 0, 0.1);
    color: #333;
    border-radius: 5px;
    border: 1px solid rgba(0, 128, 0, 0.5);
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s, border-color 0.3s;
}

.OptionButton:hover {
    background-color: rgba(0, 128, 0, 0.3);
    border-color: rgba(0, 128, 0, 0.7);
}

.OptionButtonIcon {
    margin-right: 10px;
}


/* Custom CSS for Calendar */
.CalendarContainer {
    padding: 0.5rem;
    width: 100%;
    max-width: 400px;
    border-radius: 0.5rem;
}


@media screen and (max-width: 768px) {
    .OptionButtonContainer {
        justify-content: center;
        align-items: center;
    }
}