.OptionButtonContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.OptionButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 120px;
    background-color: rgba(0, 100, 0, 0.1);
    color: #333;
    border-radius: 5px;
    border: 1px solid rgba(0, 128, 0, 0.5);
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s, border-color 0.3s;
}

.OptionButton:hover {
    background-color: rgba(0, 128, 0, 0.3);
    border-color: rgba(0, 128, 0, 0.7);
}

.OptionButtonIcon {
    margin-right: 10px;
}

@media screen and (max-width: 768px) {
    .OptionButtonContainer {
        justify-content: center;
        align-items: center;
    }
}