.PayrollContainer {
    width: 100%;
}

.PayrollInfoContainer {
    margin: 5px;
    padding: 5px 20px;
}

.PayrollInfo {
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-gap: 10px;
}

.PayrollInfoTitle {
    width: 300px;
}

.PayrollTable {
    width: 100%;
    border-collapse: collapse;
}
  
.PayrollTable td {
    padding: 10px;
}

.ViewContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.ViewChildFlexColumnLeft {
    display: block;
    width: 400px;
    margin: 0 2rem 1rem 0;
}

.ViewChildFlexColumnRight {
    display: flex;
    flex-direction: column;
    flex: auto;
}

.EmployeeList {
    height: 400px;
    width: 100%;
    max-width: 400px;
    display:flex;
    flex-direction: column;
    overflow-y: auto;
}

.EmployeeCardContainer {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    border-radius: 0.5rem;
    border: 2px solid rgba(0, 128, 0, 0.3);
    margin-bottom: 0.25rem;
}

.EmployeeCard {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: inherit;
    margin-bottom: 0.2rem;
    padding: 0.5rem;
}

.EmployeeCardOption {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.UserIcon {
    margin: auto;
    margin-left: 10px;
}

.PopUp {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 80%;
    max-width: 800px;
    padding: 20px;
    border-radius: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 999;
}

.PopUpScroll {
    max-height: 500px;
    overflow-y: auto;
}

.BlurView {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.LoadingBlur {
    filter: blur(3px);
}

.FilterContainer{
    width: 100%;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-gap: 10px;
    align-items: center;
}

.FilterTitle {
    width: 120px;
}

.TabContainer {
    display: flex;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    gap: 1px;
}

.Tab {
    display: flex;
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 5px 5px 0 0;
}

.Tab.TabActive {
    background-color: #a4eaa5;
    font-weight: bold;
}

.Tab:not(.TabActive):hover {
    background-color: #a4eaa5;
}

.ButtonContainer {
    display: flex;
    gap: 10px;
    width: 100%;
    margin: 0.25rem;
}

.Table {
    width: 100%;
    border-collapse: collapse;
}

.TableRow{
    cursor: pointer;
}

.TableAlterRow {
    background-color: #EAF5E1;
}

.PayrollTableContent{
    padding: 10px;
    width: 30%;
    display: table-cell;
    vertical-align: bottom;
    text-align: center;
}

.SubTabContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.SubTab{
    cursor: pointer;
    text-align: center;
    background: #e9ecf1;
    border-right: 1px solid #c1c4c9;
    width: 40%;
    padding: 10px 20px;
}

.SubTab.SubTabActive {
    background-color: #d8fdd8;
}

.SubTab:not(.SubTabActive):hover {
    background-color: #d8fdd8;
}

.SubTabLeft {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.SubTabRight {
    border-right: 0px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}


@media screen and (max-width: 768px) {
    .ViewChildFlexColumnLeft {
        width: 100%;
        margin: 0;
        justify-content: center;
        align-items: center;
    }
    .PayrollInfoTitle {
        width: 100%;
    }
    .FilterTitle {
        width: auto;
        min-width: 100px;
    }
}
