.GridContainer{
    width: 500px;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-gap: 10px;
    align-items: center;
}

@media screen and (max-width: 768px) {
    .GridContainer {
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .SettingTitle {
        min-width: 200px;
    }
}