.OptionButtonContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.OptionButton {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    height: 100px;
    margin: 8px 15px;
    padding: 0 20px;
    border-radius: 10px;
    background-color: #d1f2e2;
    color: #333;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.2s ease, color 0.2s ease;
    box-shadow: 3px 3px 6px #888888;
}

.OptionButton:hover {
    background-color: #c0e6d7;
    color: #000;
}

.OptionButtonIcon {
    margin-right: 10px;
}

@media screen and (max-width: 768px) {
    .OptionButtonContainer {
        justify-content: center;
        align-items: center;
    }
}