.MainBody {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.HeaderRowContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.HeaderLogo {
    display: flex;
    justify-content: left;
    align-items: center;
}

.HeaderAccountButton {
    cursor: pointer;
    margin: 2rem;
    padding: 0.5rem;
    border: 1px solid green;
    border-radius: 8px;
    text-align: center;
}

.FAIcon {
    cursor: pointer;
    height: auto;
    padding: 0 1rem 0 1.5rem;
}
.FAIcon:hover {
    color: aquamarine;
}

.HeaderContainer {
    display: flex;
    flex-direction: row;
}

.BodyContainer {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

.FooterContainer {
    margin-top: auto;
}

.NavBarContainer {
    min-width: 220px;
    border: 2px solid rgba(0,255,0,1);
    border-left: 0;
    border-bottom: 0;
    border-radius: 0.25rem 1.5rem 1.5rem;
}

.ContentContainer {
    margin-right: auto;
    width: 80%;
    padding: 0 1rem;
}

.NavBarList {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.NavBarItem {
    padding: 1rem 2rem;
    border-radius: 0 1.5rem 1.5rem 0;
}

.NavBarItem:hover {
    color: black;
    background-color: lightgray;
}

@media only screen and (max-width: 1000px) {
    .NavBarContainer {
        display: none;
    }
}

.UserNameText:hover span{
    display: none;
}

.UserNameText:hover:before {
    content: "Sign out";
}