.MainBody {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.HeaderRow {
    display: flex;
}

.FAIcon {
    cursor: pointer;
    position: relative;
    padding: 0 2rem 0 1.5rem;
    top: 50%;
    height: 0;
}
.FAIcon:hover {
    color: aquamarine;
}

.HeaderContainer {
    display: flex;
    flex-direction: row;
}

.BodyContainer {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

.FooterContainer {
    margin-top: auto;
}

.NavBarContainer {
    display: block;
    min-width: 220px;
    border: 2px solid rgba(0,255,0,1);
    border-left: 0;
    border-bottom: 0;
    border-radius: 0.25rem 1.5rem 1.5rem;
    animation: neon 2s linear infinite alternate;
}

.ContentContainer {
    margin-right: auto;
    width: 80%;
    padding: 0 1rem;
}

.NavBarList {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.NavBarItem {
    padding: 1rem 2rem;
    border-radius: 0 1.5rem 1.5rem 0;
}

.NavBarItem:hover {
    color: black;
    background-color: lightgray;
}

@media only screen and (max-width: 1000px) {
    .NavBarContainer {
        display: none;
        width: 100%;
    }
}

@keyframes neon {
    0%   {border: 2px solid rgba(0,255,0,0.2); border-left: 0; border-bottom: 0;}
    100% {border: 2px solid rgba(0,255,0,1); border-left: 0; border-bottom: 0;}
    0% {border: 2px solid rgba(0,255,0,0.2); border-left: 0; border-bottom: 0;}
}