.MainBody {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.HeaderRowContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.HeaderLogo {
    display: flex;
    justify-content: left;
    align-items: center;
}

.HeaderLogoButton {
    margin: 0 10px 0 20px;
}

.HeaderLogo h1 {
    margin: 0;
}

.HeaderAccountButton {
    cursor: pointer;
    margin: 2rem;
    padding: 0.5rem;
    border: 1px solid green;
    border-radius: 8px;
    text-align: center;
}

.HeaderContainer {
    display: flex;
    flex-direction: row;
}

.BodyContainer {
    min-height: 100vh;
    display: flex;
    flex-direction: row;
}

.FooterContainer {
    margin-top: auto;
}

.NavBarContainer {
    min-width: 220px;
    border: 2px solid;
    border-left: 0;
    border-bottom: 0;
    border-top-right-radius: 1.5rem;
}

.ContentContainer {
    margin-right: auto;
    width: 100%;
    padding: 0 1rem;
}

.NavBarList {
    display: grid;
}

.NavBarItem {
    display: flex;
    padding: 1rem 2rem;
    border-radius: 0 1.5rem 1.5rem 0;
}

.NavBarItem:hover {
    color: black;
    background-color: lightgray;
}

.NavBarItemChild1 {
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.NavBarItemChild2 {
    align-self: left;
}