.FormContainer {
    display: flex;
    direction: column;
    gap: 20px;
    width: 100%;
    margin: auto;
}

.FormSplitView {
    width: 40%;
    margin: auto;
}

.FormChild {
    padding: 10px 0 10px 0;
}

.FormSubChild {
    width: 100%;
}

.SplitViewForm {
    display: flex;
    gap: 10px;
}

@media screen and (max-width: 768px) {
    .FormContainer {
        display: block;
    }
    .FormSplitView {
        width: 90%;
    }
}