.DateDiv {
    width: 75vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media only screen and (max-width: 1000px) {
    .DateDiv {
        width: 100vw;
    }
}

.DateLabel {
    min-width: 50px;
    margin: 0 0.5rem 0 0.5rem;
    text-align: center;
}

.DateLabelNoBold {
    font-weight: normal;
}

.TimeEntryDiv {
    overflow-x: auto;
    display: flex;
    flex-direction: row;
}

.TimeDiv {
    padding: 0.2rem;
}

.Input {
    width: 10rem;
}

.signDiv {
    display: flex;
    flex-direction: row;
    text-align: center;
}

.FAIcon {
    cursor: pointer;
    position: relative;
    padding: 0 0.5rem 0 0.5rem;
    top: 50%;
    height: 0;
}
.FAIcon:hover {
    color: aquamarine;
}

.ButtonContainer {
    width: 100%;
    margin: 0.25rem;
}

.SplitViewRow {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.SplitViewRowChild {
    flex: auto;
    margin-left: 0.5rem;
}

.SplitViewColumn {
    display: flex;
    flex-direction: column;
}

.TimePunchView {
    font-size: 1.2rem;
}

.Table {
    width: 100%;
    border-collapse: collapse;
}

.TableAlterRow {
    background-color: #EAF5E1;
}

.TimePunchViewBlur {
    filter: blur(3px);
}

.TimeCardContent {
    padding: 10px;
}

.TimeCardIn {
    color: green;
}

.TimeCardOut {
    color: orange;
}

.TableColumn {
    width: 30%;
    display: table-cell;
    vertical-align: bottom;
    text-align: center;
}

.TimeCardSummary {
    display: flex;
    justify-content: space-between;
}

.Clock {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
}

.ClockTime {
    padding: 0.5rem;
    font-size: 2rem;
}

.CenterView {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ButtonHidden {
    display: none;
}

/* Custom CSS for Calendar */
.CalendarContainer {
    padding: 0.5rem;
    width: 100%;
    max-width: 400px;
    border-radius: 0.5rem;
}

@media screen and (max-width: 768px) {
    .SplitViewRow {
        flex-direction: column;
    }
}